# General ----------------------------------------------------------------------
retrying
python-dotenv

# Django -----------------------------------------------------------------------
Django
django-storages
whitenoise
channels
daphne
django-modeltranslation
django-prometheus
polib
django-cors-headers
django-htmx-autocomplete
rules
django-cleanup
django_structlog
django_file_form

# LLM-related ------------------------------------------------------------------
llama-index
llama-index-cli
llama-index-core
llama-index-embeddings-google-genai
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-instrumentation
llama-index-llms-google-genai
llama-index-llms-openai
google-generativeai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-postgres
llama-index-workflows

# Document extraction ----------------------------------------------------------
beautifulsoup4
markdownify
Markdown
bleach
newspaper3k
filetype
docxtpl
html2docx
mammoth
python-pptx
python-docx
tldextract

# NLP (non-LLM) ----------------------------------------------------------------
langdetect
lxml[html_clean]
sentence-splitter

# Data science -----------------------------------------------------------------
shapely
pdf2image
pillow
pypdf
reportlab
pyreadstat
openpyxl
RapidFuzz

# Redis/Celery -----------------------------------------------------------------
celery
redis
django-redis
django-celery-beat

# GPL-licensed
extract_msg

# AGPL-licensed
pymupdf4llm
